
.form{
    margin: 20px;
    margin-right: 30px;
    
}
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.example-radio-button {
  margin: 5px;
}
table {
  width: 100%;
  
}

.a {
  font-size: 14px;
  width:100%;
  
  
}
.div{
  margin-right:30px;
}
