<div class="loginandsignup" fxLayoutAlign="center center">
    <mat-card class="card">
        <div class="title" fxLayout="column">
            <h2>Családfa készítés</h2>
            <div fxLayout="row" fxLayoutAlign="center">
                <mat-tab-group>
                    <mat-tab label="Bejelentkezés">
                        <ng-template matTabContent>
                            <form [formGroup]="loginform" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="login()">
                                <div fxLayout="column" class="form-container">
                                    <mat-form-field>
                                        <input matInput required placeholder="Email" formControlName="email" type="email" />
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput required placeholder="Jelszó" formControlName="password" type="password" />
                                    </mat-form-field>
                                    <button mat-button [disabled]="loginform.invalid">Bejelentkezés</button>
                                    <br>
                                    <button mat-button>Folytatás regisztráció nélkül</button>
                                </div>
                            </form>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Regisztráció">
                        <ng-template matTabContent>
                            <form [formGroup]="registerform" (ngSubmit)="register()">
                                <div fxLayout="column" class="form-container">
                                    <mat-form-field>
                                        <input matInput required placeholder="Keresztnév" formControlName="name" />
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput required placeholder="Email" formControlName="email" type="email" />
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput required placeholder="Password" formControlName="password" type="password" />
                                    </mat-form-field>
                                    <button mat-button [disabled]="registerform.invalid">Regisztráció</button>
                                </div>
                            </form>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-card>
</div>