.loginandsignup {
    display: flex;
    justify-content: center;
    margin: 170px 0px;
    
  
  }
   
  .card {
    height: 350px;
    padding: 18px 30px; 
  }

  .form-container {
    padding-top: 10px;
  }

  .title {
    align-items: center;
    justify-content: center;
    padding: 20px;
  }