.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;

  }
  form {
      margin: 30px;
  }
  :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    
  }

  .mat-form-field {
    width: 100%;
    min-width: 400px;
    min-height: 60px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
    
  }

  .mat-card{
    padding :30px;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: center;
  }
