<!-- <div >
    <form [formGroup]="addmemberform" (ngSubmit)="submit()" class="form">

      <div>
        <mat-form-field class="max-width">
          <mat-label>Vezetéknév</mat-label>
          <input matInput formControlName="lastname">
        </mat-form-field>
        <mat-form-field class="max-width">
          <mat-label>Keresztnév</mat-label>
          <input formControlName="firstname" matInput>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="max-width">
          <mat-label>Születési hely</mat-label>
          <input formControlName="birthplace" matInput>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="max-width">
          <mat-label>Születési év</mat-label>
          <input formControlName="birthyear" matInput maxlength="4">
        </mat-form-field>

      </div>

      <div>
        <mat-checkbox formControlName="alive">Élő</mat-checkbox>        
      </div>
      <br>
      <div>
        <button mat-raised-button color="primary" type="submit">Hozzáadás</button>
      </div>

    </form>
  </div> -->